body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    background-color: #1F2937;
}

.header {
    padding: 5px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.header-links {
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 65px;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.lame {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

button {
    background-color: #3882F6;
    color: #F9FAF8; 
}

.button {
    display: flex;
    flex-grow: 0;
}